.md-typeset h1 {
    font-weight: bold;
    color: var(--md-default-fg-color);
}

.md-typeset h2 {
    font-weight: bold;
}

.md-footer {
    margin-top: 40px;
    background-color: var(--md-primary-fg-color);
}
