--- 
--- 
@import "{{ site.theme }}";

div.post-content>#markdown-toc {
    float: right;
    width: 25%;
    max-width: 320px;
}

div.post-content>#markdown-toc {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

div.wrapper {
    max-width: 75%;
    margin: auto;
}

table,
hr,
p,
div.highlight,
div.post-content>p {
    width: 70%;
    max-width: 800px;
}
